@import 'src/styles/color.scss';

@mixin col() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin row() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home-section {
    height: 100vh;
    width: 100vw;
    background-color: $dark;

    @include col();
    gap: 4rem;

    h1 {
        @include gradient-text($primary-green)
    }

    p {
        color: $light;
    }

    #info {
        @include col();
        gap: 1rem;
    }

    .col {
        @include col();
    }

    .icon-row {
        @include row();
        gap: 2rem;

        img {
            height: 1.5rem;
        }

        img:hover {
            opacity: 0.8;
        }
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    @keyframes MoveUpDown {
        0%, 100% {
          bottom: 40px;
        }
        50% {
          bottom: 50px;
        }
    }

    #scroll-down {
        animation: fadeIn 10s, MoveUpDown 1.5s ease-in-out infinite;
        position: absolute;
    }
}

